body {
    background-color: #e8dabf
}
.grade-horizontal{ 
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
}
.circulo{
    position:absolute;
    top: 30%;
    left: 50%;
    width: 40%;
    transform: translate(-50%, -50%);
}